{% extends "base.html.twig" %}
{% block content %}
	<h4 class="text-xl font-medium mb-1">All Shortcust</h4>
	<p class="text-[12px] mb-6">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quassimilique voluptatibus consequatur placeat.
	</p>
	<div class="text-blue-800 flex items-center gap-1 cursor-pointer mb-3">
		<Zap size={17}/>
		<h3 class="text-sm font-normal">Primary Connections</h3>
	</div>
	<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
		<short-card data-title="Url Shooter" data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quassimilique voluptatibus consequatur placeat." data-image="{{asset('assets/url_shooter.png')}}" data-url="{{ url('screenshot', schemeRelative = true) }}"></short-card>
		<short-card data-title="Post Generator" data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quassimilique voluptatibus consequatur placeat." data-image="{{asset('assets/post_generator.png')}}" data-url="{{ url('post_generator', schemeRelative = true) }}"></short-card>
		<short-card data-title="App Generator" data-description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat quassimilique voluptatibus consequatur placeat." data-image="{{asset('assets/app_generator.png')}}" data-url="{{ url('app_generator', schemeRelative = true) }}"></short-card>
	</div>
{% endblock %}
